header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 100px;
    }

    .links {
        &__link {
            text-decoration: none;
        }
    }

    #burger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: #676767;
    }
}
