.manual-block {
    &__title {
        text-align: center;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 28px;
        margin: 100px 0 50px 0;
    }

    &__manual-img {
        width: 100%;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
        &-item {
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                background: rgba(0, 0, 0, 0.1);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                flex: 0 0 auto;
            }
        }
        &-text {
            font-family: Inter, sans-serif;
            font-weight: 500;
            font-size: 13.5px;
            margin-left: 15px;
        }
    }

    &__bg-img {
        margin-top: 60px;
        background: url(/img/welcome_tiles.jpg) no-repeat left top / cover;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        &__bg-time {
            width: 100%;
        }
    }
}
