.pay-block {
    &__service {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 24px;
    }
    &__priсe {
        padding: 32px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &-text {
            font-family: Inter, sans-serif;
            font-size: 38px;
            font-weight: 700;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        padding: 32px;
        text-align: center;
        &-text {
            font-family: Inter, sans-serif;
            font-weight: 500;
            font-size: 13.5px;
            margin-bottom: 30px;
        }
        &-button {
            padding: 15px 30px;
            background: #ff9255;
            border-radius: 12px;
            border: none;
            color: #fff;
            font-size: 16px;
        }
        h3 {
            font-family: Inter, sans-serif;
            font-style: italic;
            font-size: 13.5px;
            font-weight: 300;
            padding: 10px;
        }
    }
}
